<script lang="ts">
import { defineComponent, onMounted, reactive, ref, computed, watch } from 'vue'
import type { ComputedRef } from 'vue'
import TodoItemComponent from './components/TodoItemComponent.vue'
import TodoService from './services/TodoList.service'
import CustomInput from './components/CustomInput.vue'
import CustomSelect from './components/CustomSelect.vue'
import type { ITodoItem } from './types/ITodoItem'
import type { ISelectOptions } from './types/ISelectOptions'
import CreateTodoItem from '@/components/TodoList/components/CreateTodoItem.vue'

// TODO: Transferring logic to composites
export default defineComponent({
  components: { CreateTodoItem, CustomInput, TodoItemComponent, CustomSelect },
  setup() {
    const response = ref<ITodoItem[] | null>(null)
    const searchQuery = ref('')
    const filterStatus = ref('All')
    const filterUser = ref('All')
    const favoritesTodos = ref<String[]>([])
    const todos = reactive<ITodoItem[]>([])
    const errorMessage = ref<String | null>(null)
    const statusOptionList = ref([
      {
        name: 'All',
        value: 'All'
      },
      {
        name: 'Completed',
        value: 'Completed'
      },
      {
        name: 'Uncompleted',
        value: 'Uncompleted'
      },
      {
        name: 'Favorites',
        value: 'Favorites'
      }
    ])

    onMounted(async () => {
      const savedFavoriteTodos = localStorage.getItem('FavoriteTodos')
      if (savedFavoriteTodos) {
        const parsedSavedFavoriteTodos = JSON.parse(savedFavoriteTodos) as String[]
        favoritesTodos.value.push(...parsedSavedFavoriteTodos)
      }

      const { result, error } = await TodoService.getTodos()
      if (!error) {
        response.value = result
      } else {
        errorMessage.value = error
      }
    })

    watch([favoritesTodos, response], () => {
      if (!Array.isArray(response.value)) {
        return
      }

      const todosWithFavoritesProperties = response.value.map((item: ITodoItem) => {
        return {
          ...item,
          isFavorite: favoritesTodos.value.includes(item.id)
        }
      })

      todos.splice(0, todos.length)
      todos.push(...todosWithFavoritesProperties)
    })

    watch(
      [favoritesTodos],
      () => {
        localStorage.setItem('FavoriteTodos', JSON.stringify(favoritesTodos.value))
      },
      {
        deep: true
      }
    )

    const usersOptionList: ComputedRef<ISelectOptions[]> = computed(() => {
      return ['All', ...Array.from(new Set(todos.map((todo) => String(todo.userId))))].map((id) => {
        return {
          name: id,
          value: id
        }
      })
    })

    const searchedPosts = computed(() => {
      return todos.filter((post) => {
        return post.title.toLowerCase().includes(searchQuery.value.toLowerCase())
      })
    })

    const searchedAndFilteredUsersPosts = computed(() => {
      return searchedPosts.value.filter((post) => {
        if (filterUser.value === 'All') {
          return post
        }
        return post.userId.toString() === filterUser.value
      })
    })

    const searchedAndFilteredUsersCompletedPosts = computed(() => {
      return searchedAndFilteredUsersPosts.value.filter((post) => {
        if (filterStatus.value === 'All') {
          return post
        } else if (filterStatus.value === 'Completed') {
          return post.completed === true
        } else if (filterStatus.value === 'Uncompleted') {
          return post.completed === false
        } else if (filterStatus.value === 'Favorites') {
          return post.isFavorite
        }
      })
    })

    const saveFavoriteTodo = (todo: ITodoItem) => {
      todo.isFavorite = !todo.isFavorite
      if (todo.isFavorite) {
        favoritesTodos.value.push(todo.id)
      } else {
        favoritesTodos.value.filter((favoriteId) => String(favoriteId) !== todo.id)
      }
    }

    return {
      searchedPosts,
      searchQuery,
      filterStatus,
      filterUser,
      todos,
      searchedAndFilteredUsersCompletedPosts,
      favoritesTodos,
      errorMessage,
      saveFavoriteTodo,
      usersOptionList,
      statusOptionList
    }
  }
})
</script>

<template>
  <div class="container search-by-params">
    <h3>Search by params</h3>
    <CustomInput v-model="searchQuery" placeholder="Search..." />
    <div class="select-block">
      <div>
        Filter by status: <CustomSelect v-model="filterStatus" :options="statusOptionList" />
      </div>
      <div>
        Filter by users:
        <CustomSelect v-if="todos.length" v-model="filterUser" :options="usersOptionList" />
      </div>
    </div>
  </div>

  <div v-if="errorMessage" class="error">Error: {{ errorMessage }}</div>
  <div class="container create-todo">
    <h3>Create todo</h3>
    <CreateTodoItem
      @newTodoItem="
        (todoItem) => {
          todos.push(todoItem)
        }
      "
    />
  </div>

  <div class="todo-list container">
    <h3>Todolist</h3>
    <TodoItemComponent
      v-for="todo in searchedAndFilteredUsersCompletedPosts"
      :title="String(todo.title)"
      :checkboxId="String(todo.id)"
      :isChecked="Boolean(todo.completed)"
      @changeIsChecked="todo.completed = !todo.completed"
      :isFavorite="Boolean(todo.isFavorite)"
      @isFavoriteChanged="saveFavoriteTodo(todo)"
      :key="String(todo.id)"
    />
  </div>
</template>

<style lang="scss" scoped>
.error {
  color: red;
  padding: 10px;
  border: 1px solid red;
  margin: 10px 0;
  font-weight: 600;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 20px auto;
  width: 50%;
  padding: 0 10px;

  @media (max-width: 1000px) {
    width: 90%;
  }

  .select-block {
    margin: 20px 0;
    color: white;
  }
}

h3 {
  color: white;
}
</style>
