<script lang="ts">
import { defineComponent, ref } from 'vue'
import CustomInput from './CustomInput.vue'
import TodoListService from '@/components/TodoList/services/TodoList.service'

export default defineComponent({
  components: { CustomInput },
  setup(props, { emit }) {
    const userId = ref('')
    const title = ref('')
    const errorMessage = ref<string>('')

    const createTodo = async () => {
      const { result, error } = await TodoListService.createTodo({
        userId: userId.value,
        title: title.value
      })

      userId.value = ''
      title.value = ''

      if (error) {
        errorMessage.value = error
      } else {
        errorMessage.value = ''
        emit('newTodoItem', { ...result, completed: false, isFavorite: false })
      }
    }

    return { userId, title, createTodo }
  }
})
</script>

<template>
  <CustomInput v-model="userId" placeholder="User id" />
  <br />
  <CustomInput v-model="title" placeholder="Title" />
  <button @click="createTodo">Create</button>
</template>

<style scoped lang="scss">
button {
  border: none;
  color: #fff;
  width: 100%;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #519945;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
}
</style>
