<script lang="ts">
import { defineComponent } from 'vue'
import type { PropType } from 'vue'

export default defineComponent({
  name: 'custom-input',
  props: {
    modelValue: {
      type: [String, Number] as PropType<string | number>,
      required: true
    },
    placeholder: {
      type: String as PropType<string>
    }
  },
  setup(props, { emit }) {
    const updateInput = (event: Event) => {
      emit('update:modelValue', (event.target as HTMLInputElement).value)
    }

    return { updateInput }
  }
})
</script>

<template>
  <input :value="modelValue" :placeholder="placeholder" @input="updateInput" type="text" />
</template>

<style lang="scss" scoped>
input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 0.875rem;
  color: #1a202c;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
  background-color: #f7fafc;

  &:focus {
    border-color: #4299e1;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
}
</style>
