<template>
  <select :value="modelValue" @input="updateModelValue">
    <option disabled value="">Выберите из списка</option>
    <option v-for="option in options" :key="String(option.value)" :value="option.value">
      {{ option.name }}
    </option>
  </select>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import type { PropType } from 'vue'
import type { ISelectOptions } from '../types/ISelectOptions'

export default defineComponent({
  name: 'MySelect',
  props: {
    modelValue: {
      type: String,
      default: ''
    },
    options: {
      type: Array as PropType<ISelectOptions[]> | null,
      required: true
    }
  },
  methods: {
    updateModelValue(event: Event) {
      this.$emit('update:modelValue', (event.target as HTMLSelectElement).value)
    }
  }
})
</script>
