<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true
    },
    checkboxId: {
      type: String,
      required: true
    },
    isChecked: {
      type: Boolean,
      default: false
    },
    isFavorite: {
      type: Boolean,
      default: false
    }
  }
})
</script>

<template>
  <div class="todo-item">
    <div class="content">
      <input type="checkbox" :checked="isChecked" @change="$emit('changeIsChecked')" />
      <span class="title">{{ title }}</span>
    </div>
    <span class="favorite-checkbox">
      | Favorite
      <input type="checkbox" :checked="isFavorite" @change="$emit('isFavoriteChanged')" />
    </span>
  </div>
</template>

<style lang="scss" scoped>
.todo-item {
  background-color: white;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;

  input {
    margin: 0 10px;
  }

  .favorite-checkbox {
    min-width: 120px;
  }
}
</style>
