<template>
  <headerComponent />
  <ModalWindow>
    <div class="header">
      <h1>description</h1>
    </div>
    <div class="body">
      <div class="form">
        <p>desciption</p>
        <input
          type="text"
          :class="errorMessage ? 'error' : ''"
          v-model="username"
          @input="validateUsername"
          placeholder="Username"
        />
      </div>
      <div class="form">
        <input
          type="text"
          :class="errorMessage ? 'error' : ''"
          v-model="phone"
          @input="validatePhone"
          placeholder="Phone Number"
        />
      </div>
      <p class="error-message" v-if="errorMessage">{{ errorMessage }}</p>
      <button class="login-button" @click="login" type="submit">Register</button>
    </div>
  </ModalWindow>
  <FooterComponent />
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import { useAuthStore } from '@/stores/authStore'
import router from '@/router'
import ModalWindow from '@/components/ModalWindow.vue'
import FooterComponent from '@/components/FooterComponent.vue'
import HeaderComponent from '@/components/HeaderComponent.vue'

export default defineComponent({
  components: { HeaderComponent, FooterComponent, ModalWindow },
  setup() {
    const authStore = useAuthStore()
    const username = ref('')
    const phone = ref('')
    const errorMessage = ref('')

    onMounted(async () => {
      const savedUser = authStore.getSavedUser()
      if (savedUser) {
        await router.push({ name: 'Todo' })
      }
    })

    const login = async () => {
      await authStore.register(username.value, phone.value)
      if (authStore.user) {
        await router.push({ name: 'Todo' })
      } else {
        errorMessage.value = 'Invalid register'
      }
    }

    const validateUsername = () => {
      const pattern = /[^a-zA-Z]/g
      if (pattern.test(username.value)) {
        errorMessage.value = 'Invalid username. Only letters allowed.'
        username.value = ''
      } else {
        errorMessage.value = ''
      }
    }

    const validatePhone = () => {
      const pattern = /[^0-9()+\-x\s]/g
      if (pattern.test(phone.value)) {
        errorMessage.value = 'Invalid phone number.'
        phone.value = ''
      } else {
        errorMessage.value = ''
      }
    }

    return { username, phone, login, authStore, errorMessage, validateUsername, validatePhone }
  }
})
</script>
<style lang="scss" scoped>
.header {
  padding: 15px 0;
  color: #5f5f5f;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #a5a5a5;
  border-radius: 5px 5px 0 0;

  h1 {
    font-size: 17px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
  }
}

.body {
  display: flex;
  flex-direction: column;
  width: 89%;
  padding: 15px 0;
  gap: 28px;
  margin: 0 auto;

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      height: 40px;
      outline: none;
      border: none;
      padding: 0 10px;
      color: #353535;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      border-radius: 5px;
    }
  }

  .login-button {
    border: none;
    color: #fff;
    width: 100%;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #519945;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
  }
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: -30px;
  }
}
</style>
