<script lang="ts">
import HeaderComponent from '@/components/HeaderComponent.vue'
import { defineComponent } from 'vue'
import TodoListComponent from '@/components/TodoList'

export default defineComponent({
  components: {
    TodoListComponent,
    HeaderComponent
  }
})
</script>

<template>
  <HeaderComponent />
  <TodoListComponent />
</template>

<style scoped></style>
