<script lang="ts">
import { useAuthStore } from '../stores/authStore'
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    const authStore = useAuthStore()

    return { authStore }
  }
})
</script>

<template>
  <header>
    <h2 v-if="authStore.user?.username">Username: {{ authStore.user?.username }}</h2>
  </header>
</template>

<style>
header {
  width: 100%;
  height: 60px;
  background: #474747;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: right;

  h2 {
    padding: 10px;
  }
}
</style>
