<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'modal-window'
})
</script>

<template>
  <div class="modal">
    <div class="modal-inner">
      <div class="modal-content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.modal {
  margin: 207px 0;
  display: flex;
  width: 447px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #c3c3c3;

  .modal-inner {
    width: 100%;
  }
}
</style>
