@import 'base';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #545454;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
